/*单个方块*/
.diamond-main{
    display: inline-block;
    height: 190px;
    background-color:rgb(185, 87, 87);
    margin: 0 10px 5px 0;
    transition:margin .3s;
    vertical-align: top;
    text-align: center;
    line-height: 190px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    box-shadow:rgba(0,0,0,0.3) 1px 1px 2px;
    position: relative;
    &:hover{
        cursor: pointer;
        transition-duration:0;
        border:2px solid rgba(255, 255, 255, 0.7);
    }
    &.big{
        width: 400px;
    }
    &.small{
        width: 195px;
    }
    .diamond-lock{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 998;
        font-size: 18px;
        color: #fff;
    }
}

/*方块模组*/
.diamond-box-main{
    display: block;
    border:1px solid transparent;
    padding: 10px;
    &.diamond-box-edit{
        .diamond-box-title{
            .diamond-box-tools{
                float: right;
                display: block;
                .anticon{
                    cursor: pointer;
                }
            }
        }
    }
    .diamond-box-title{
        width: auto;
        font-size: 30px;
        color: #fff;
        .diamond-box-tools{
            display:none;
            .anticon{
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
}